@using Orchard.ContentManagement
@using Orchard.ContentManagement.Records
@model IEnumerable<ContentItem>
@{
    var pageTitle = T("Recycle Bin");
}

<h1>@Html.TitleForPage(pageTitle)</h1>

<p>@T("There is a total of {0} deleted content items.", Model.Count())</p>

<fieldset class="contentItems bulk-items">
<ul>
 @foreach(var item in Model) {
 <li>
  <div class="summary" itemscope="itemscope" itemid="@item.Id" itemtype="http://orchardproject.net/data/ContentItem">
   <div class="primary">
    <div class="properties">
     <h3>@T("Item id {0} of type \"{1}\"", item.Id, (item.TypeDefinition.DisplayName ?? item.ContentType))</h3>
     <div class="metadata">
      <ul class="pageStatus">
       <li>
       </li>
       <li>
       </li>
      </ul>
     </div>
    </div>
    <div class="related">
     @Html.Link(T("Undelete").Text, Url.Action("Undelete", "Admin", new { area = "Iroo.VersionManager", id = item.VersionRecord.Id }))
     &nbsp;&#124;&nbsp;
     @Html.Link(T("View").Text, Url.Action("Preview", "Item", new { area = "Contents", id = item.Id, version = item.Version}))
    </div>
   </div>
  </div>
 </li>
 }
</ul>
</fieldset>
