@using Arana.VersionManager.Helpers
@using Orchard.ContentManagement
@model IEnumerable<ContentItem>
@{
  Layout.Title = T("Manage Trash").ToString();
}

<p>@T("There is a total of {0} deleted content items.", Model.Count())</p>

<fieldset class="contentItems bulk-items">
  <ul>
    @foreach (ContentItem item in Model) {
      string contentType = item.TypeDefinition.DisplayName ?? item.ContentType;
      ContentItemMetadata metadata = item.ContentManager.GetItemMetadata(item);
      string contentItemTitle = StringHelpers.NonNullOrEmpty(metadata.DisplayText, item.TypeDefinition.DisplayName, item.ContentType);

      <li>
        <div class="summary" itemscope="itemscope" itemid="@item.Id" itemtype="http://orchardproject.net/data/ContentItem">
          <div class="primary">
            <div class="properties">
              <h3>@Html.Link(contentItemTitle, Url.Action("Preview", "Item", new {area = "Contents", id = item.Id, version = item.Version}))</h3> - <div class="contentType">@contentType</div>
              <div class="metadata">
                <ul class="pageStatus">
                  <li>Id: @item.Id</li>
                </ul>
              </div>
            </div>
            <div class="related">
              @Html.Link(T("Preview").Text, Url.Action("Preview", "Item", new {area = "Contents", id = item.Id, version = item.Version}))
              @T(" | ")
              @Html.Link(T("Undelete").Text, Url.Action("Undelete", "Admin", new {area = "Arana.VersionManager", id = item.VersionRecord.Id}))
            </div>
          </div>
        </div>
      </li>
    }
  </ul>
</fieldset>